
* {color: brown;}

h1
{ font-family: 'Roboto', sans-serif;}


p{
    color: black;
    width: 300px;
}

/*
asi se comenta en CSS
*/
section{
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
#mi_parrafo{
    color: blue;
    font-size: 23px;
    border: 1px solid green;
}
.estaesmiclase{
    font-weight: bold;
    color:lightblue;
}
/*
section h1 
{ 
    font-size: 100px;
}*/